<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proyecto.fcircle" >

    <!--
    sha1: 96:3E:4D:90:12:A5:13:72:6B:BA:80:BA:2D:BB:D2:1B:2D:8E:82:94
    API_KEY: AIzaSyAL6p_wCEDNLsKNOzO_BXZoQ5Q3Sj4uUXQ
    -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAL6p_wCEDNLsKNOzO_BXZoQ5Q3Sj4uUXQ" />

        <activity
            android:name=".Principal"
            android:label="@string/app_name"
            android:theme="@style/PantallaCompleta" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AgregarFamiliar"
            android:label="@string/title_activity_agregar_familiar"
            android:theme="@style/MiTema" >
        </activity>
        <activity
            android:name=".CrearRecado"
            android:label="@string/title_activity_crear_recado"
            android:theme="@style/MiTema" >
        </activity>
        <activity
            android:name=".GoogleMaps"
            android:label="@string/title_activity_google_maps"
            android:theme="@style/MiTema" >
        </activity>
        <activity
            android:name=".LoginUsuario"
            android:label="@string/title_activity_login_usuario"
            android:theme="@style/PantallaCompleta" >
        </activity>
        <activity
            android:name=".MisRecados"
            android:label="@string/title_activity_mis_recados"
            android:theme="@style/MiTema" >
        </activity>
        <activity
            android:name=".RegistroUsuario"
            android:label="@string/title_activity_registro_usuario"
            android:theme="@style/PantallaCompleta" >
        </activity>

        <service
            android:name=".ServicioSesion"
            android:enabled="true"
            android:exported="true" >
        </service>
        <activity
            android:name=".DetalleRecado"
            android:label="@string/title_activity_detalle_recado"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
    </application>

</manifest>
